<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<entry cle="tarte à la fraise" valeur="dessert" />
	<entry cle="poulet roti" valeur="plat principal" />
	<entry cle="nem" valeur="entrée" />
	<entry cle="éclair chocolat" valeur="dessert" />
	<entry cle="tourte à la viande" valeur="plat principal" />
</menu>
